# API Configuration
NEXT_PUBLIC_BAGISTO_ENDPOINT=your_bagisto_api_endpoint_here

# Auth Configuration
NEXT_PUBLIC_NEXT_AUTH_URL=http://192.168.x.x:3000
NEXT_PUBLIC_NEXT_AUTH_SECRET=your_nextauth_secret_here

# Store Information
COMPANY_NAME=your_company_name_here

# Storefront Key
NEXT_PUBLIC_BAGISTO_STOREFRONT_KEY=your_storefront_key_here